.title {
    font-size: 48px;
    background-color: orange;
    color: red;
    text-align: center;
}

#menu {
    text-align: center;
}

.links {
    font-size: 18px;
}

.smolimg {
    height: auto;
    width: 220px;
}